

.button-theme {
  margin: 1rem;
  text-decoration: none;
  background-color: rgb(92, 91, 102);
  color: whitesmoke;
  padding: 0.5rem;
  transition: 0.25s;
  border: none;
  box-shadow: 0 0.1px 0.6px black;
}

.button-theme:hover {
  background-color: #f9f9f9;
  color: #1a1a1a;

}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

