
/* .product-container {
    height: 90%;
} */

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 1rem 0;
    gap: 1rem 0;
}


@media (max-width: 1200px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        margin: auto 1vw;
    }
}

.category-selector {
    position: sticky;
    text-align: center;
    background-color: rgb(233, 231, 231);
    width: 80%;
    border-radius: 25px;
    margin-left: 4rem;

}

.category-selector button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(233, 231, 231);
    border: none;
    border-radius: 25px;
    text-transform: capitalize;
}

.category-selector button:hover {
    background-color: rgb(167, 167, 167);
    color: rgb(255, 255, 255);
}